@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary-button-width : 250px; 
  --primary-button-height : 50px;

  --secondary-button-width : 120px;
  --secondary-button-height  : 50px;

  --home-button-width : 350px;
  --home-button-height : 70px;

  /* --color-nav-cuchu-100 : '#43a150' */
}

@theme {
  --color-nav-100 : '#fff'
}



/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif; */
} 